@model ProductModel
@{
    ViewData["title"] = "Edit Product";
}
<h4>Create Data</h4>
<div class="col-md-9"></div>
<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger" />
    </div>

    <div class="form-group">
        <label>Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger" />
    </div>

    <div class="form-group">
        <label>Description</label> <!-- Sửa từ Desciption thành Description -->
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger" />
    </div>



    <div class="form-group">
        <label>Category</label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
            <option>--choose a category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger" />
    </div>

    <div class="form-group">
        <label>Brand</label>
        <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands">
            <option>--choose a category</option>
        </select>
        <span asp-validation-for="BrandId" class="text-danger" />
    </div>

    <div class="form-group">
        <label>Image</label>
        <input asp-for="ImageUpload" class="form-control" />
        <span asp-validation-for="ImageUpload" class="text-danger" />
        <td><img src="~/media/products/@Model.Image" width="100" height="80" /></td>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Update</button>
    </div>
</form>
<a asp-action="Index">Back to List Product</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Description');
    </script>
}


